NEXT_PUBLIC_SUPABASE_URL=https://qrcxiiweshwtverxsego.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFyY3hpaXdlc2h3dHZlcnhzZWdvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQzNDMyNzgsImV4cCI6MjA5OTkxOTI3OH0.zBKs3cGaLItkp3uMG2433TqqT9RGkKaNw2D0-xg5QFM
